.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("https://dq0hsqwjhea1.cloudfront.net/milky_way.jpg") no-repeat center center;
  background-size: cover;
}

.return {
    font-size: 7.5vh;
    position: relative;
    text-align: left;
}