.gradient {
    background: linear-gradient(#40bfff7f, #0543697f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url(https://th.bing.com/th/id/OIP.eF4yKkC5kRsiT5D_NMQMvQHaHa?w=177&h=150&c=6&r=0&o=7&dpr=1.3&pid=1.7&rm=3) no-repeat center center;
  background-size: cover;
}

.return {
    font-size: 7.5vh;
    position: relative;
    text-align: left;
    top: 20px;
    left: 20px;
    display: inline;     /* makes link only as wide as text */
    padding-right: 0;    /* remove any extra clickable padding */
    margin-right: 0;
}

.return {
    position: relative;
    height: 7.5vh;
    width: fit-content;
    top: 1%;
    left: 1%;
}

.heading {
  font-size: 5vh;
  position: relative;
  background: linear-gradient(#016941, #056943);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-font-smoothing:antialiased;
}

.tutorial {
    font-size: 5vh;
    top: 0%;
    position: relative;
}