.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
  filter: drop-shadow(1vh, 1vh, 2.5vh, rgba(0, 0, 0, 0.5))
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url(https://scitechdaily.com/images/Webb-Pillars-of-Creation-scaled.jpg) no-repeat center center;
  background-size: cover;
}

.heading {
    font-size: 7.5vh;
}