.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url(https://www.syfy.com/sites/syfy/files/kepler90_planets_hero.jpg) no-repeat center center;
  background-size: cover;
}

.return {
    position: relative;
    height: 7.5vh;
    width: fit-content;
    top: 1%;
    left: 1%;
}