.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("https://dq0hsqwjhea1.cloudfront.net/milky_way.jpg") no-repeat center center;
  background-size: cover;
}

.return {
    font-size: 7.5vh;
    font-weight: medium;
    position: relative;
    text-align: left;
    top:2.5%;
}

.stars {
    width: 3vh;
    height: 3vh;
}

.SolarSystem {
    position: relative;
    left: 56%;
    top: 28%;
}

.Kepler-90 {
    position: relative;
    left: 60%;
    top: 44%;
}

.UVscuti {
    position: relative;
    left: 45%;
    top: 24%;
}

