.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
  text-shadow: 2vh, 2vh, 5vh, rgba(0, 0, 0, 0.7);
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("https://dq0hsqwjhea1.cloudfront.net/milky_way.jpg") no-repeat center center;
  background-size: cover;
}

.stars {
    width: 3vh;
    height: 3vh;
}

.SolarSystem {
    position: relative;
    left: 60%;
    top: 38%;
}

.Kepler-90 {
    position: relative;
    left: 63%;
    top: 50%;
}

.UVscuti {
    position: relative;
    left: 54%;
    top: 43%;
}