.gradient {
    background: linear-gradient(#78909c7f, #b5babd7f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    -webkit-font-smoothing:antialiased;
}

.gradient {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 2vh;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url(https://th.bing.com/th/id/OIP.tT4fklAByoRQMB9BtySFygHaE7?w=320&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3) no-repeat center center;
  background-size: cover;
}

.return {
    position: relative;
    height: 7.5vh;
    width: fit-content;
    top: 1%;
    left: 1%;
}